:root {
  /* Colors */
  --bg-color: white;
  --primary: #4a47a3;
  --secondary: #b6b5da;
  --separator-color: rgba(0, 0, 0, 0.25);

  /* Sizes */
  --root-font-size: 10px;
  --body-padding: 100px;
  --content-size: 1.8rem;
  --sm-content-size: 1.6rem;
}

@media (max-width: 1280px) {
  :root {
    --body-padding: 70px;
    --root-font-size: 9px;
  }
}

@media (max-width: 998px) {
  :root {
    --body-padding: 45px;
    --root-font-size: 8px;
  }
}

@media (max-width: 760px) {
  :root {
    --body-padding: 20px;
    --root-font-size: 7.5px;
  }
}

* {
  padding: 0;
  margin: 0;
  font-size: var(--root-font-size);
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  // width: 100%; /* For ignorng scrollbar width*/
  // padding: 0% var(--body-padding);
  overflow-x: hidden;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    font-weight: 400;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  width: 100%;
  padding: 0% var(--body-padding);
}

::-webkit-scrollbar {
  width: 1.5rem;
}

::-webkit-scrollbar-track {
  background-image: linear-gradient(to bottom, white, var(--bg-color));
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.7);
  box-shadow: inset 0 0 5px var(--separator-color);
  border: solid 0.35rem white;
  border-radius: 1rem;
}

*::selection {
  color: var(--bg-color);
  background: var(--primary);
}

a,
a:link,
a:active,
a:visited {
  text-decoration: none;
  color: black;
}

.heading {
  font-size: 3rem;
  font-weight: 600;
}

button {
  background-color: var(--primary);
  padding: 10px;
  color: white;
  border-radius: 0.6rem;
  font-size: var(--sm-content-size);
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 2.5px;
  border: none;
}

.clickable {
  transition: all 250ms linear;
  cursor: pointer;
  box-shadow: 0px 0px;
}

.clickable:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 20px 4px var(--separator-color);
}

.clickable:active {
  background-color: var(--secondary);
  transform: scale(0.9);
}
