body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.options-parent {
  display: flex;

  justify-content: center;
}

.spacer {
  height: 40px;
}

.options-div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  height: 300px;
  margin: 10px;
  background-color: #f0f0f0;
  border-radius: 1rem;
  font-size: 1.5rem;
  transition: all 750ms;

  cursor: pointer;
}

.selected {
  background-color: #4a47a3;
  color: white;
  font-size: 2.8rem;
  box-shadow: 0 4px 50px 5px rgba(0, 0, 0, 0.25);
}

.btn {
  background-color: #4a47a3;
  width: 30%;
  padding: 10px;
  color: white;
  border-radius: 0.6rem;
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 5px;
  border: none;
  box-shadow: 0px 0px;
}

button {
  transition: all 450ms;
  scale: 2;
}

button:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 50px 2px rgba(0, 0, 0, 0.25);
}

button:active {
  background-color: #b6b5da;
  transform: scale(0.8);
}
