@font-face {
  font-family: "Circular";
  src: url("./CircularStd-Medium.ttf");
}

:root {
  /* Colors */
  --bg-color: white;
  --primary: #4a47a3;
  --secondary: #b6b5da;
  --separator-color: rgba(0, 0, 0, 0.25);

  /* Sizes */
  --root-font-size: 10px;
  --body-padding: 100px;
  --content-size: 1.8rem;
  --sm-content-size: 1.6rem;

  font-size: var(--root-font-size);
  font-family: "Circular";
}

@media (max-width: 1280px) {
  :root {
    --body-padding: 70px;
    --root-font-size: 9px;
  }
}

@media (max-width: 998px) {
  :root {
    --body-padding: 45px;
    --root-font-size: 8px;
  }
}

@media (max-width: 760px) {
  :root {
    --body-padding: 20px;
    --root-font-size: 7.5px;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;

  font-size: var(--content-size);
  font-weight: 400;
  // font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  //   "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  //   sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  // width: 100%; /* For ignorng scrollbar width*/
  // padding: 0% var(--body-padding);
  overflow-x: hidden;
}

.container {
  width: 100%;
  padding: 0% var(--body-padding);
}

::-webkit-scrollbar {
  width: 0rem;
}

// ::-webkit-scrollbar-track {
//   background-image: linear-gradient(to bottom, white, var(--bg-color));
// }

// ::-webkit-scrollbar-thumb {
//   background: rgba(0, 0, 0, 0.7);
//   box-shadow: inset 0 0 5px var(--separator-color);
//   border: solid 0.35rem white;
//   border-radius: 1rem;
// }

*::selection {
  color: var(--bg-color);
  background: var(--primary);
}

a,
a:link,
a:active,
a:visited {
  text-decoration: none;
  color: black;
}

.blur-bg {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  left: 0%;
  top: 0%;
  height: 100vh;
  width: 100vw;
  background-color: rgba(255, 255, 255, 0.75);

  .center-item {
    width: min-content;
  }
}

.heading {
  font-size: 3rem;
  font-weight: 600;
}

button {
  background-color: var(--primary);
  font-family: "Circular";
  padding: 10px;
  color: white;
  border-radius: 0.6rem;
  font-size: var(--sm-content-size);
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2.5px;
  border: none;
}

.clickable {
  transition: all 200ms linear;
  cursor: pointer;
  box-shadow: 0px 0px var(--separator-color);
}

.clickable:hover {
  transform: scale(1.05);
  box-shadow: 0 2px 15px 2px var(--separator-color);
}

.clickable:active {
  background-color: var(--secondary);
  transform: scale(0.95);
}

.error-field {
  font-size: 1.4rem;
  color: red;
  margin-bottom: 1rem;
}

.space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // align-content: center;
}
