.loading-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
}

.load {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    background-color: var(--secondary);
}

.load1 {
    animation: load-anim 1s linear infinite;
}

.load2 {
    animation: load-anim 1s linear infinite;
    animation-delay: 333ms;
}

.load3 {
    animation: load-anim 1s linear infinite;
    animation-delay: 666ms;
}

@keyframes load-anim {
    0%{
        transform: scale(1);
    }
    17%{
        transform: scale(1.5);
    }
    33%{
        transform: scale(1);
    }
}